.show-map-get {
  font-weight: 700;
}

.show-map-keys {
  font-weight: "regular", "medium", "bold", "lightest", "light";
}

.show-map-values {
  font-weight: 400, 600, 700, 100, 300;
}

.map-remove {
  font-weight: 600, 700;
}

.map-has-key {
  font-weight: true;
}

.list-with-map {
  font-weight: "medium" 600;
}

.variable-exists {
  padding: true;
}

.global-variable-exists {
  padding: true;
}

.mixin-exists {
  padding: true;
}

.function-exists {
  padding: true;
}

.type-of {
  padding: list;
}

.inspect {
  font-family: char;
}

.content-directive {
  border-radius: 5px;
  border-style: dashed;
}

#test .block {
  color: coral;
}

.button {
  border: solid 1px #333;
}

.button:hover {
  border-width: 2px;
}

body {
  background: red;
}

@media screen and (max-width: 1300px) {
  body {
    background: green;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background: blue;
  }
}

@media screen and (max-width: 700px) {
  body {
    background: yellow;
  }
}

/* MEDIA QUERIES */
.container {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 575px;
  }
}

/* at-root Directive */
@media print {
  .container {
    font-size: 1rem;
    color: red;
  }
}

.container {
  font-size: 1.1rem;
  color: black;
}

p {
  color: blue;
  font-size: 12px;
  background: sandybrown;
}

.test-ifelse {
  font-size: 16px;
  color: green;
}

.box {
  background: ghostwhite;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-size: 400;
  font-style: normal;
  padding: 1.5rem;
  margin: 1rem;
  width: 200px;
}
